:root{
    --heading-font-family : 'Trueno', sans-serif;

    --body-font-family : 'Sofia Pro', sans-serif;
    
    --heading-txt: "#181E23";
    
    --body-txt: #525E68;
    
    --general-padding: 20px;
    
    --general-margin: 3%;

    --radio-border:50%;

    --msg-simple-box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);

    --btn-default-border-color: #d1d8e0;

    --btn-default-txt: #525e68;
    
    --btn-default-box-shadow: 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.3), 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2), inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);

    --textbox-focus-border: #30ab6c;

    --valid-textbox-focus-box-shadow: #a8f0cb;

    --invalid-textbox-focus-box-shadow: #ecae98;
    --btn-default-disabled-txt: #525e68;
    --btn-default-disabled-txt: #525e68;
    --btn-default-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);
    --btn-primary-disabled-txt: #ffffff;
    --btn-primary-disabled-bg: #48e092;
    --btn-primary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.6);
    --btn-secondary-disabled-bg: #e9fbf2;
    --btn-secondary-disabled-txt: #30ab6c;
    --btn-secondary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.12);
    --radio-disabled-bg: #f0f3f7;
    --radio-disabled-box-shadow: inset 0rem 0.0938rem 0.125rem 0.0938rem rgba(0, 0, 0, 0.12), inset 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.45), inset 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2);

}
@mixin icon($pos,$right_dist) {
    position: $pos;
    right: $right_dist;
}
