/*
        default-button
       <button class="m-btn m-btn--default">Default</button>

        primary-button
       <button class="m-btn m-btn--primary is-selected">Primary</button>
       
        secondary-button
       <button class="m-btn m-btn--secondary">Secondary</button>
*/
.m-btn {
         margin-inline-end: 1rem;
    margin-block-end: 1.25rem;
    border: 0.0625rem solid var(--btn-default-border-color);
    padding: 0.6875rem 1.6875rem;
    color: var(--btn-default-txt);
    font-family: var(--body-font-family);
    font-weight: 600;
    line-height: 1.25rem;
    background-color: var(--btn-default-bg);
    border-radius: 0.5rem;
    box-shadow: var(--btn-default-box-shadow);
    cursor: pointer;
      
     &--default{
            background: #FFFFFF;
            box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);  
        

        &:hover{
            box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
            background: rgba(223, 229, 236, 0.45);
        }

        &:active{
            background: #DFE5EC;
            box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
        }
        &:disabled{
            color: var(--btn-default-disabled-txt);
            background-color: var(--btn-default-disabled-bg);
            box-shadow: var(--btn-default-disabled-box-shadow);
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
     &--primary{
     
        &:enabled{
            background: linear-gradient(180deg, #48E092 0%, #30C478 100%);
            box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
            color:#fff;
        }

        &:hover{
            background: linear-gradient(180deg, #9FEFC6 0%, #48E092 100%);
            box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
        }

        &:active{
            background: linear-gradient(180deg, #30C578 0%, #3CB979 100%);
            box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
        
        }
        &:disabled{
            color: var(--btn-primary-disabled-txt);
            background-color: var(--btn-primary-disabled-bg);
            box-shadow: var(--btn-primary-disabled-box-shadow);
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
     &--secondary{
            background: linear-gradient(180deg, #E9FBF2 0%, #C2F0D8 100%);
            box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
            color:#30AB6C;
        
        &:hover{
            background: linear-gradient(180deg, #BEF4D8 0%, #99E6BE 100%);
            box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
        }

        &:active{
            background: linear-gradient(180deg, #A8F0CB 0%, #70DCA4 100%);
            box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
        }
        &:disabled{
            color: var(--btn-secondary-disabled-txt);
            background-color: var(--btn-secondary-disabled-bg);
            box-shadow: var(--btn-secondary-disabled-box-shadow);
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }
     }
}
