/*
            Normal radioBtn 
            <label class="m-radio is-shown">
                <input type="radio" class="m-radio__input">
                <span class="m-radio__clickbtn"></span>Checked
            </label> <br>  <br>
    
            Disabled RadioBtn
            <label class="m-radio m-radio--disabled is-hidden" > 
                <input type="radio" class="m-radio__input" >
                <span class="m-radio__clickbtn"></span>Disabled
            </label>
*/
.m-radio{
    $classname:m-radio;
    position: relative;
    padding-left: 15px;
    cursor: pointer;

    /*&--disabled{
        .#{$classname}__clickbtn{
            background-color: var(--radio-disabled-bg);
            box-shadow: var(--radio-disabled-box-shadow);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }*/
    &:hover .#{$classname}__input ~ .#{$classname}__clickbtn{
        box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
    }

    & .#{$classname}__input:checked ~ .#{$classname}__clickbtn{
        background-color: #48E092;
    }

    & .#{$classname}__input:checked ~ .#{$classname}__clickbtn::after {
        display: block;
    }

    &--disabled .#{$classname}__input:checked ~ .#{$classname}__clickbtn{
        background-color: #7be7af;
    }
    &--disabled{
        color: #979FA6;

    }

    &__input{
        opacity: 0;

        &:disabled ~ .#{$classname}__clickbtn{
            background-color: var(--radio-disabled-bg);
            box-shadow: var(--radio-disabled-box-shadow);
            opacity: 0.5;
            cursor: not-allowed;
        }

}

    & .#{$classname}__clickbtn::after {
        top: 9px;
       left: 9px;
       width: 8px;
       height: 8px;
       border-radius: var(--radio-border);
       background: white;
       content: "";
       position: absolute;
       display: none;
    } 

      &__clickbtn{
        background-color: #F0F3F7;
        position: absolute;
        left: 5px;
        width: 24px;
        height: 24px;
        border-radius: var(--radio-border);
        box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
    
        
        
    }
  
}


