/*
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text" name="firstName" placeholder="Placeholder Text"><br>
    
            input_text + suffix_success_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--success" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-check m-text__icon m-text__icon--success" aria-hidden="true"></i></input><br>
            
            input_text + suffix_error_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--error" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-times m-text__icon m-text__icon--error" aria-hidden="true"></i></input><br>
  */
  @import "config";
  
.m-text{
    $classname:m-text;
   
    &__input{
        line-height: 24px;
        border: 2px solid #D1D8E0;
        border-radius: 4px;
        width: 90%;
        margin-bottom: 10px;
        padding: 0.5625rem 0.625rem;
        color:#181E23;
        line-height: 150%;
        border-radius: 0.25rem;

        &:focus{
            border: 0.0625rem solid var(--textbox-focus-border); 
           box-shadow: 0 0 0 0.125rem var(--valid-textbox-focus-box-shadow);
             outline: none;
        }
        &:after{
            content: url('/icons/valid-tickmark.svg');
            display: inline;
            
          }
    }
    &:disabled {
        background-color: gray;
    }
    &--success{
        .#{$classname}__input{
            background-color: #F6FEFA;
        }
        .#{$classname}__input::after{
                content: url('/icons/valid-tickmark.svg');
              }
    }
    &--error{
        .#{$classname}__input{
            border:1px solid #F27649;
            background-color: #FEF1EC;
            &:focus{
                border: 0.0625rem solid #eb551e; 
                box-shadow: 0 0 0 0.125rem var(--invalid-textbox-focus-box-shadow);
                outline: none;
            }
        }
        .#{$classname}__input::before {
                content: 'success-icon';
                display: block;
                background-image: url("/icons/valid-tickmark.svg");

              }
        }
    
}
