.m-buttons {

    &__item{
        border-radius: 8px;
        padding:12px 27px 12px 27px;
        cursor: pointer;

        &--default{
            background: #FFFFFF;
            box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);  
        }

        &--default:hover{
            box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
            background: rgba(223, 229, 236, 0.45);
        }

        &--default:active{
            background: #DFE5EC;
            box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
        }


        &--primary{
            background: linear-gradient(180deg, #48E092 0%, #30C478 100%);
            box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
            color:#fff;
        }

        &--primary:hover{
            background: linear-gradient(180deg, #9FEFC6 0%, #48E092 100%);
            box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
        }

        &--primary:active{
            background: linear-gradient(180deg, #30C578 0%, #3CB979 100%);
            box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
        
        }


        &--secondary{
            background: linear-gradient(180deg, #E9FBF2 0%, #C2F0D8 100%);
            box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
            color:#30AB6C;
        }
        &--secondary:hover{
            background: linear-gradient(180deg, #BEF4D8 0%, #99E6BE 100%);
            box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
        }
        &--secondary:active{
            background: linear-gradient(180deg, #A8F0CB 0%, #70DCA4 100%);
            box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
        }
    }
}
