@font-face {
    font-family: headingFont;
    src: url(/fonts/TruenoBd.otf)
  }
@font-face {
    font-family: paraFont;
    src: url(/fonts/Sofia\ Pro\ Regular\ Az.otf);
}
body{
    font-family: paraFont;
}
h1,h2,h3,h4,h5,h6{
    font-family: headingFont;
    color:#181E23;
}

h1{
    margin-top: 10px;
    font-size: 32px;
    line-height: 120%;
}
h2{
    margin-bottom: 13px;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 1%;
}
h3{
    margin-bottom: 16px;
    font-size: 18.7px;
    line-height: 120%;
    letter-spacing:2%;
}
h4{
    margin-bottom: 21px;
    font-size: 16px;
    line-height: 120%;
    letter-spacing:4%;
}
h5{
    margin-bottom: 27px;
    font-size: 13.3px;
    line-height: 120%; 
}
h6{
    margin-bottom: 37px;
    font-size: 10.7px;
    line-height: 120%; 
}
p{
    font-family: paraFont;
    color: #525E68;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 150%;
    font-variant-ligatures: none;
}
.helpText
{
  color: #84919D;
}
.myform{
    margin: 20px;
    border: 2px solid black;
    padding: 26px;
    width: 50%;
    border-radius: 26px;
}
.myform__heading{
    text-align: center;
    color: #113133;
}
label{
   
    font-family: paraFont;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;    
    color: #181E23;
}
.text__input{
    color:#181E23;
    font-family: paraFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: 2px solid #D1D8E0;
    border-radius: 4px;
    margin-bottom: 10px;
}
.text__input_error{
    border:1px solid #F27649;
    background-color: #FEF1EC;
    
}
.error-icon{
    position: relative;
    right: 25px;
    color: #F27649;
}
.text__input_success{
    border:1px solid #30AB6C;
    background-color: #F6FEFA;
}
.success-icon{
    position: relative;
    right: 25px;
    color: #30AB6C;
    
}
select{
    border: 2px solid #D1D8E0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 44px;
    width: 194px;
    border-radius: 4px;

}
.checkbox__check-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700px;
}
.checkbox__check-container input{
    opacity: 0;
    position: absolute;
}
.checkbox__checkmark{
    background-color:#F0F3F7;
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 4px;
    box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}
.checkbox__check-container_disabled {
  color: #979FA6;
}
.checkbox__check-container_disabled .checkbox__checkmark{
    box-shadow: inset 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}
.checkbox__check-container:hover input ~ .checkbox__checkmark {
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
  }
  .checkbox__check-container input:checked ~ .checkbox__checkmark {
    background-color: #48E092;
  }
  .checkbox__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .checkbox__check-container input:checked ~ .checkbox__checkmark:after {
    display: block;
  }
  .checkbox__check-container .checkbox__checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  .checkbox__check-container_disabled input:checked ~ .checkbox__checkmark{
      background-color: #7be7af;
  }
  .radio__radio-container{
    display: block;
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.radio__radio-container input{
    opacity: 0;
}
.radio__click{
    background-color:#F0F3F7;
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}
.radio__click_disabled{
    color: #979FA6;
}
.radio__radio-container:hover input ~ .radio__click{
    box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
}
.radio__radio-container input:checked ~ .radio__click{
    background-color: #48E092;
}
.radio__click:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio__radio-container input:checked ~ .radio__click:after {
    display: block;
  }
  .radio__radio-container .radio__click:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}
.radio__radio-container_disabled input:checked ~ .radio__click{
    background-color: #7be7af;
}
.radio__radio-container_disabled{
    color: #979FA6;

}
.default{
    font-size: 16px;
    border-radius: 8px;
    padding:12px 27px 12px 27px;
    background: #FFFFFF;
    border: 1px solid #D1D8E0;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);   
    cursor: pointer;
}
.default:hover{
    box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
    background: rgba(223, 229, 236, 0.45);
}
.default:active{
    background: #DFE5EC;
    box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
}
.primary{
    font-size: 16px;
    border-radius: 8px;
    padding:12px 27px 12px 27px;
    background: linear-gradient(180deg, #48E092 0%, #30C478 100%);
    box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
    color:#fff;
}
.primary:hover{
    background: linear-gradient(180deg, #9FEFC6 0%, #48E092 100%);
    box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
}
.primary:active{
    background: linear-gradient(180deg, #30C578 0%, #3CB979 100%);

}
.secondary{
    font-size: 16px;
    border-radius: 8px;
    padding:12px 27px 12px 27px;
    background: linear-gradient(180deg, #E9FBF2 0%, #C2F0D8 100%);
    box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
    color:#30AB6C;
}
.secondary:hover{
    background: linear-gradient(180deg, #BEF4D8 0%, #99E6BE 100%);
    box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
}
.secondary:active{
    background: linear-gradient(180deg, #A8F0CB 0%, #70DCA4 100%);
    box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
}
.default-disabled{
    background-color: #fff;
    color: #525E68;
    opacity: 0.5;
}
.primary-disabled{
    background: #48E092;
    opacity: 0.5;
    box-shadow: inset 0px -2px 0px rgba(48, 171, 108, 0.6);
}
.secondary-disabled{
    background: #E9FBF2;
    opacity: 0.5;
    box-shadow: inset 0px -2px 0px rgba(48, 171, 108, 0.12);
}
.messages__info{
    width: 298px;
    height: 44px;
    border-radius: 6px;
    padding: 25px 16px 10px 16px;
    background: linear-gradient(180deg, #CFEFFC 0%, #BAE6F8 100%);
    box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
    text-align: center;
    font-size: 16px;
    color: #0F678A;
}
.fa-info-circle{
    margin-right: 5%;
}
.error{
    margin-left: 5%;
}
.fa-check-circle{
    margin-right: 5%;
}
.fa-times-circle{
    margin-right: 5%;
}
.fa-exclamation-triangle{
    margin-right: 5%;
}
.messages__success-message{
    width: 385px;
    height: 44px;
    border-radius: 6px;
    padding: 25px 16px 10px 16px;
    background: linear-gradient(180deg, #D6FBD0 0%, #C2F7BA 100%);
    box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
    border-radius: 6px;
    color: #218A0F;
    font-size: 16px;
    text-align: center;
}
.messages__error-message{
    width: 347px;
    height: 44px;
    border-radius: 6px;
    padding: 25px 16px 10px 16px;
    background: linear-gradient(180deg, #F9D2D2 0%, #F4BDBD 100%);
    box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
    border-radius: 6px;
    color: #DD2222;
    font-size: 16px;
    text-align: center;
}
.messages__warning-message{
    width: 352px;
    height: 44px;
    border-radius: 6px;
    padding: 25px 16px 10px 16px;
    background: linear-gradient(180deg, #FAF7D1 0%, #F5F1BC 100%);
    box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
    border-radius: 6px;
    color: #D7B817;
    font-size: 16px;
    text-align: center;
}
.messages{
    padding: 20px;
}
.accordian{
    background-color: #fff;
    border: 1px solid #30C478;
    border-radius: 12px;
    padding: 0px 12px 0px 12px;
    color: #30AB6C;
    font-size: 16px;
}
