@charset "UTF-8";
@font-face {
  font-family: Trueno;
  font-weight: bold;
  src: url("/fonts/TruenoBd.otf");
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("/fonts/Sofia Pro Regular Az.otf");
}

body, html {
  margin: 0;
  padding: 0px;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-txt);
  line-height: 150%;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-txt);
  line-height: 120%;
}

h1, .h1 {
  margin-top: 10px;
  font-size: 32px;
}

h2, .h2 {
  margin-bottom: 13px;
  font-size: 24px;
  letter-spacing: 1%;
}

h3, .h3 {
  margin-bottom: 16px;
  font-size: 18.7px;
  letter-spacing: 2%;
}

h4, .h4 {
  margin-bottom: 21px;
  font-size: 16px;
  letter-spacing: 4%;
}

h5, .h5 {
  margin-bottom: 27px;
  font-size: 13.3px;
}

h6, .h6 {
  margin-bottom: 37px;
  font-size: 10.7px;
}

p {
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  color: #181E23;
}

form {
  padding: var(--general-padding);
  border: 2px solid black;
  margin: var(--general-margin);
}

input {
  font-size: 1rem;
}

/*
        default-button
       <button class="m-btn m-btn--default">Default</button>

        primary-button
       <button class="m-btn m-btn--primary is-selected">Primary</button>
       
        secondary-button
       <button class="m-btn m-btn--secondary">Secondary</button>
*/
.m-btn {
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
  border: 0.0625rem solid var(--btn-default-border-color);
  padding: 0.6875rem 1.6875rem;
  color: var(--btn-default-txt);
  font-family: var(--body-font-family);
  font-weight: 600;
  line-height: 1.25rem;
  background-color: var(--btn-default-bg);
  border-radius: 0.5rem;
  -webkit-box-shadow: var(--btn-default-box-shadow);
          box-shadow: var(--btn-default-box-shadow);
  cursor: pointer;
}

.m-btn--default {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
}

.m-btn--default:hover {
  -webkit-box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
  background: rgba(223, 229, 236, 0.45);
}

.m-btn--default:active {
  background: #DFE5EC;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
}

.m-btn--default:disabled {
  color: var(--btn-default-disabled-txt);
  background-color: var(--btn-default-disabled-bg);
  -webkit-box-shadow: var(--btn-default-disabled-box-shadow);
          box-shadow: var(--btn-default-disabled-box-shadow);
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.m-btn--primary:enabled {
  background: -webkit-gradient(linear, left top, left bottom, from(#48E092), to(#30C478));
  background: linear-gradient(180deg, #48E092 0%, #30C478 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
          box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
  color: #fff;
}

.m-btn--primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9FEFC6), to(#48E092));
  background: linear-gradient(180deg, #9FEFC6 0%, #48E092 100%);
  -webkit-box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
          box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
}

.m-btn--primary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#30C578), to(#3CB979));
  background: linear-gradient(180deg, #30C578 0%, #3CB979 100%);
  -webkit-box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
}

.m-btn--primary:disabled {
  color: var(--btn-primary-disabled-txt);
  background-color: var(--btn-primary-disabled-bg);
  -webkit-box-shadow: var(--btn-primary-disabled-box-shadow);
          box-shadow: var(--btn-primary-disabled-box-shadow);
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

.m-btn--secondary {
  background: -webkit-gradient(linear, left top, left bottom, from(#E9FBF2), to(#C2F0D8));
  background: linear-gradient(180deg, #E9FBF2 0%, #C2F0D8 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
          box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
  color: #30AB6C;
}

.m-btn--secondary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BEF4D8), to(#99E6BE));
  background: linear-gradient(180deg, #BEF4D8 0%, #99E6BE 100%);
  -webkit-box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
          box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
}

.m-btn--secondary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#A8F0CB), to(#70DCA4));
  background: linear-gradient(180deg, #A8F0CB 0%, #70DCA4 100%);
  -webkit-box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
}

.m-btn--secondary:disabled {
  color: var(--btn-secondary-disabled-txt);
  background-color: var(--btn-secondary-disabled-bg);
  -webkit-box-shadow: var(--btn-secondary-disabled-box-shadow);
          box-shadow: var(--btn-secondary-disabled-box-shadow);
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}

/*
        msg + suffix_icon
        <p class="m-messages__item m-messages__item--default l-align-center l-msg-padding"><i class="fa fa-info-circle l-icon-rmargin" aria-hidden="true"></i>
            This is a simple information  
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>
       
        msg + suffix_icon
       <p class="m-messages__item m-messages__item--success l-align-center l-msg-padding"><i class="fa fa-check-circle l-icon-rmargin" aria-hidden="true"></i>
            Your action was completed successfully 
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>
       
        msg + suffix_icon
       <p class="m-messages__item m-messages__item--error l-align-center l-msg-padding"><i class="fa fa-times-circle l-icon-rmargin" aria-hidden="true"></i>
            Your action couldn’t be completed
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>

        msg + suffix_icon
        <p class="m-messages__item m-messages__item--warning l-align-center l-msg-padding">
        <i class="fa fa-exclamation-triangle l-icon-rmargin" aria-hidden="true"></i> </p>
*/
.m-messages {
  margin-left: 20px;
}

.m-messages__close {
  cursor: pointer;
}

.m-messages__close::before {
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/icons/indication-icons.svg");
  background-repeat: no-repeat;
  background-size: 3rem 6rem;
  background-position-x: -1.5rem;
}

.m-messages__item--success .m-messages__close::before {
  background-position-y: -1.5rem;
  background-position-x: -1.5rem;
}

.m-messages__item--warning .m-messages__close::before {
  background-position-y: -3rem;
  background-position-x: -1.5rem;
}

.m-messages__item--error .m-messages__close::before {
  background-position-y: -4.5rem;
  background-position-x: -1.5rem;
}

.m-messages__item {
  /*
        inline-start: left
        inline-end: right
        block-start: top
        block-end: bottom
        */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-margin-after: 1.25rem;
          margin-block-end: 1.25rem;
  padding: 0.625rem 1rem;
  border-radius: 0.375rem;
}

.m-messages__item::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
  background-image: url("/icons/indication-icons.svg");
  background-repeat: no-repeat;
  background-size: 3rem 6rem;
}

.m-messages__item--default {
  color: #0F678A;
  background: -webkit-gradient(linear, left top, left bottom, from(#CFEFFC), to(#BAE6F8));
  background: linear-gradient(180deg, #CFEFFC 0%, #BAE6F8 100%);
  color: var(--msg-simple-info-txt);
  -webkit-box-shadow: var(--msg-simple-box-shadow);
          box-shadow: var(--msg-simple-box-shadow);
}

.m-messages__item--warning {
  color: #D7B817;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAF7D1), to(#F5F1BC));
  background: linear-gradient(180deg, #FAF7D1 0%, #F5F1BC 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
          box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
}

.m-messages__item--warning::before {
  background-position-y: -3rem;
}

.m-messages__item--success {
  color: #218A0F;
  background: -webkit-gradient(linear, left top, left bottom, from(#D6FBD0), to(#C2F7BA));
  background: linear-gradient(180deg, #D6FBD0 0%, #C2F7BA 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
          box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
}

.m-messages__item--success::before {
  background-position-y: -1.5rem;
}

.m-messages__item--error {
  color: #DD2222;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D2D2), to(#F4BDBD));
  background: linear-gradient(180deg, #F9D2D2 0%, #F4BDBD 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
          box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
}

.m-messages__item--error::before {
  background-position-y: -4.5rem;
}

/*
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text" name="firstName" placeholder="Placeholder Text"><br>
    
            input_text + suffix_success_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--success" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-check m-text__icon m-text__icon--success" aria-hidden="true"></i></input><br>
            
            input_text + suffix_error_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--error" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-times m-text__icon m-text__icon--error" aria-hidden="true"></i></input><br>
  */
:root {
  --heading-font-family: 'Trueno', sans-serif;
  --body-font-family: 'Sofia Pro', sans-serif;
  --heading-txt: "#181E23";
  --body-txt: #525E68;
  --general-padding: 20px;
  --general-margin: 3%;
  --radio-border:50%;
  --msg-simple-box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
  --btn-default-border-color: #d1d8e0;
  --btn-default-txt: #525e68;
  --btn-default-box-shadow: 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.3), 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2), inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);
  --textbox-focus-border: #30ab6c;
  --valid-textbox-focus-box-shadow: #a8f0cb;
  --invalid-textbox-focus-box-shadow: #ecae98;
  --btn-default-disabled-txt: #525e68;
  --btn-default-disabled-txt: #525e68;
  --btn-default-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);
  --btn-primary-disabled-txt: #ffffff;
  --btn-primary-disabled-bg: #48e092;
  --btn-primary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.6);
  --btn-secondary-disabled-bg: #e9fbf2;
  --btn-secondary-disabled-txt: #30ab6c;
  --btn-secondary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.12);
  --radio-disabled-bg: #f0f3f7;
  --radio-disabled-box-shadow: inset 0rem 0.0938rem 0.125rem 0.0938rem rgba(0, 0, 0, 0.12), inset 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.45), inset 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2);
}

.m-text__input {
  line-height: 24px;
  border: 2px solid #D1D8E0;
  border-radius: 4px;
  width: 90%;
  margin-bottom: 10px;
  padding: 0.5625rem 0.625rem;
  color: #181E23;
  line-height: 150%;
  border-radius: 0.25rem;
}

.m-text__input:focus {
  border: 0.0625rem solid var(--textbox-focus-border);
  -webkit-box-shadow: 0 0 0 0.125rem var(--valid-textbox-focus-box-shadow);
          box-shadow: 0 0 0 0.125rem var(--valid-textbox-focus-box-shadow);
  outline: none;
}

.m-text__input:after {
  content: url("/icons/valid-tickmark.svg");
  display: inline;
}

.m-text:disabled {
  background-color: gray;
}

.m-text--success .m-text__input {
  background-color: #F6FEFA;
}

.m-text--success .m-text__input::after {
  content: url("/icons/valid-tickmark.svg");
}

.m-text--error .m-text__input {
  border: 1px solid #F27649;
  background-color: #FEF1EC;
}

.m-text--error .m-text__input:focus {
  border: 0.0625rem solid #eb551e;
  -webkit-box-shadow: 0 0 0 0.125rem var(--invalid-textbox-focus-box-shadow);
          box-shadow: 0 0 0 0.125rem var(--invalid-textbox-focus-box-shadow);
  outline: none;
}

.m-text--error .m-text__input::before {
  content: 'success-icon';
  display: block;
  background-image: url("/icons/valid-tickmark.svg");
}

/*
            Normal radioBtn 
            <label class="m-radio is-shown">
                <input type="radio" class="m-radio__input">
                <span class="m-radio__clickbtn"></span>Checked
            </label> <br>  <br>
    
            Disabled RadioBtn
            <label class="m-radio m-radio--disabled is-hidden" > 
                <input type="radio" class="m-radio__input" >
                <span class="m-radio__clickbtn"></span>Disabled
            </label>
*/
.m-radio {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
  /*&--disabled{
        .m-radio__clickbtn{
            background-color: var(--radio-disabled-bg);
            box-shadow: var(--radio-disabled-box-shadow);
            opacity: 0.5;
            cursor: not-allowed;
        }
    }*/
}

.m-radio:hover .m-radio__input ~ .m-radio__clickbtn {
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
          box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
}

.m-radio .m-radio__input:checked ~ .m-radio__clickbtn {
  background-color: #48E092;
}

.m-radio .m-radio__input:checked ~ .m-radio__clickbtn::after {
  display: block;
}

.m-radio--disabled .m-radio__input:checked ~ .m-radio__clickbtn {
  background-color: #7be7af;
}

.m-radio--disabled {
  color: #979FA6;
}

.m-radio__input {
  opacity: 0;
}

.m-radio__input:disabled ~ .m-radio__clickbtn {
  background-color: var(--radio-disabled-bg);
  -webkit-box-shadow: var(--radio-disabled-box-shadow);
          box-shadow: var(--radio-disabled-box-shadow);
  opacity: 0.5;
  cursor: not-allowed;
}

.m-radio .m-radio__clickbtn::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: var(--radio-border);
  background: white;
  content: "";
  position: absolute;
  display: none;
}

.m-radio__clickbtn {
  background-color: #F0F3F7;
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: var(--radio-border);
  -webkit-box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
          box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}

:root {
  --heading-font-family: 'Trueno', sans-serif;
  --body-font-family: 'Sofia Pro', sans-serif;
  --heading-txt: "#181E23";
  --body-txt: #525E68;
  --general-padding: 20px;
  --general-margin: 3%;
  --radio-border:50%;
  --msg-simple-box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
  --btn-default-border-color: #d1d8e0;
  --btn-default-txt: #525e68;
  --btn-default-box-shadow: 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.3), 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2), inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);
  --textbox-focus-border: #30ab6c;
  --valid-textbox-focus-box-shadow: #a8f0cb;
  --invalid-textbox-focus-box-shadow: #ecae98;
  --btn-default-disabled-txt: #525e68;
  --btn-default-disabled-txt: #525e68;
  --btn-default-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(219, 225, 231, 0.6);
  --btn-primary-disabled-txt: #ffffff;
  --btn-primary-disabled-bg: #48e092;
  --btn-primary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.6);
  --btn-secondary-disabled-bg: #e9fbf2;
  --btn-secondary-disabled-txt: #30ab6c;
  --btn-secondary-disabled-box-shadow: inset 0rem -0.125rem 0rem rgba(48, 171, 108, 0.12);
  --radio-disabled-bg: #f0f3f7;
  --radio-disabled-box-shadow: inset 0rem 0.0938rem 0.125rem 0.0938rem rgba(0, 0, 0, 0.12), inset 0rem 0.25rem 0.5rem -0.125rem rgba(172, 186, 200, 0.45), inset 0rem 0.8125rem 0.625rem 0.125rem rgba(234, 239, 242, 0.2);
}
