@charset "UTF-8";
@font-face {
  font-family: Trueno;
  font-weight: bold;
  src: url("/fonts/TruenoBd.otf");
}

@font-face {
  font-family: 'Sofia Pro';
  src: url("/fonts/Sofia Pro Regular Az.otf");
}

body, html {
  margin: 0;
  padding: 0px;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-txt);
  line-height: 150%;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-txt);
  line-height: 120%;
}

h1, .h1 {
  margin-top: 10px;
  font-size: 32px;
}

h2, .h2 {
  margin-bottom: 13px;
  font-size: 24px;
  letter-spacing: 1%;
}

h3, .h3 {
  margin-bottom: 16px;
  font-size: 18.7px;
  letter-spacing: 2%;
}

h4, .h4 {
  margin-bottom: 21px;
  font-size: 16px;
  letter-spacing: 4%;
}

h5, .h5 {
  margin-bottom: 27px;
  font-size: 13.3px;
}

h6, .h6 {
  margin-bottom: 37px;
  font-size: 10.7px;
}

p {
  font-family: paraFont;
  margin-bottom: 16px;
}

label {
  font-weight: 500;
  color: #181E23;
}

form {
  padding: var(--general-padding);
  border: 2px solid black;
  margin: var(--general-margin);
}

/*
        default-button
       <button class="m-btn m-btn--default">Default</button>

        primary-button
       <button class="m-btn m-btn--primary is-selected">Primary</button>
       
        secondary-button
       <button class="m-btn m-btn--secondary">Secondary</button>
*/
.m-btn {
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
}

.m-btn--default {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 4px 8px -2px rgba(172, 186, 200, 0.3), 0px 13px 10px 2px rgba(234, 239, 242, 0.2), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
}

.m-btn--default:hover {
  -webkit-box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 13px 10px 2px rgba(234, 239, 242, 0.55), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
  background: rgba(223, 229, 236, 0.45);
}

.m-btn--default:active {
  background: #DFE5EC;
  -webkit-box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
          box-shadow: 0px 4px 4px -2px rgba(172, 186, 200, 0.25), inset 0px -2px 0px rgba(219, 225, 231, 0.6);
}

.m-btn--primary {
  background: -webkit-gradient(linear, left top, left bottom, from(#48E092), to(#30C478));
  background: linear-gradient(180deg, #48E092 0%, #30C478 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
          box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.45), 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(48, 171, 108, 0.6);
  color: #fff;
}

.m-btn--primary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9FEFC6), to(#48E092));
  background: linear-gradient(180deg, #9FEFC6 0%, #48E092 100%);
  -webkit-box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
          box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.35), inset 0px -2px 0px rgba(74, 196, 134, 0.6);
}

.m-btn--primary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#30C578), to(#3CB979));
  background: linear-gradient(180deg, #30C578 0%, #3CB979 100%);
  -webkit-box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
}

.m-btn--secondary {
  background: -webkit-gradient(linear, left top, left bottom, from(#E9FBF2), to(#C2F0D8));
  background: linear-gradient(180deg, #E9FBF2 0%, #C2F0D8 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
          box-shadow: 0px 4px 8px -2px rgba(48, 171, 108, 0.1), 0px 13px 10px 2px rgba(72, 224, 146, 0.2), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
  color: #30AB6C;
}

.m-btn--secondary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#BEF4D8), to(#99E6BE));
  background: linear-gradient(180deg, #BEF4D8 0%, #99E6BE 100%);
  -webkit-box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
          box-shadow: 0px 13px 10px 2px rgba(72, 224, 146, 0.25), inset 0px -2px 0px rgba(48, 171, 108, 0.12);
}

.m-btn--secondary:active {
  background: -webkit-gradient(linear, left top, left bottom, from(#A8F0CB), to(#70DCA4));
  background: linear-gradient(180deg, #A8F0CB 0%, #70DCA4 100%);
  -webkit-box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
          box-shadow: 0px 4px 4px -2px rgba(48, 171, 108, 0.45), inset 0px -2px 0px rgba(48, 171, 108, 0.2);
}

/*
        msg + suffix_icon
        <p class="m-messages__item m-messages__item--default l-align-center l-msg-padding"><i class="fa fa-info-circle l-icon-rmargin" aria-hidden="true"></i>
            This is a simple information  
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>
       
        msg + suffix_icon
       <p class="m-messages__item m-messages__item--success l-align-center l-msg-padding"><i class="fa fa-check-circle l-icon-rmargin" aria-hidden="true"></i>
            Your action was completed successfully 
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>
       
        msg + suffix_icon
       <p class="m-messages__item m-messages__item--error l-align-center l-msg-padding"><i class="fa fa-times-circle l-icon-rmargin" aria-hidden="true"></i>
            Your action couldn’t be completed
        <i class="fa fa-times l-icon-lmargin" aria-hidden="true"></i></p>

        msg + suffix_icon
        <p class="m-messages__item m-messages__item--warning l-align-center l-msg-padding">
        <i class="fa fa-exclamation-triangle l-icon-rmargin" aria-hidden="true"></i> </p>
*/
.m-messages__item {
  /*
        inline-start: left
        inline-end: right
        block-start: top
        block-end: bottom
        */
  -webkit-margin-after: 20px;
          margin-block-end: 20px;
  padding: 10px 16px;
  background-color: lightgray;
  border-radius: 6px;
}

.m-messages__item--default {
  color: #0F678A;
  background: -webkit-gradient(linear, left top, left bottom, from(#CFEFFC), to(#BAE6F8));
  background: linear-gradient(180deg, #CFEFFC 0%, #BAE6F8 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
          box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
}

.m-messages__item--warning {
  color: #D7B817;
  background: -webkit-gradient(linear, left top, left bottom, from(#FAF7D1), to(#F5F1BC));
  background: linear-gradient(180deg, #FAF7D1 0%, #F5F1BC 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
          box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
}

.m-messages__item--success {
  color: #218A0F;
  background: -webkit-gradient(linear, left top, left bottom, from(#D6FBD0), to(#C2F7BA));
  background: linear-gradient(180deg, #D6FBD0 0%, #C2F7BA 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
          box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
}

.m-messages__item--error {
  color: #DD2222;
  background: -webkit-gradient(linear, left top, left bottom, from(#F9D2D2), to(#F4BDBD));
  background: linear-gradient(180deg, #F9D2D2 0%, #F4BDBD 100%);
  -webkit-box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
          box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
}

/*
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text" name="firstName" placeholder="Placeholder Text"><br>
    
            input_text + suffix_success_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--success" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-check m-text__icon m-text__icon--success" aria-hidden="true"></i></input><br>
            
            input_text + suffix_error_icon
            <label for="firstName">Name</label><br>
            <input type="text" class="m-text m-text--error" name="firstName" placeholder="Placeholder Text" >
            <i class="fa fa-times m-text__icon m-text__icon--error" aria-hidden="true"></i></input><br>
  */
:root {
  --heading-font-family: 'Trueno', sans-serif;
  --body-font-family: 'Sofia Pro', sans-serif;
  --heading-txt: "#181E23";
  --body-txt: #525E68;
  --general-padding: 20px;
  --general-margin: 3%;
  --radio-border:50%;
}

.m-text {
  color: #181E23;
  line-height: 24px;
  border: 2px solid #D1D8E0;
  border-radius: 4px;
  margin-bottom: 10px;
}

.m-text--success {
  border: 1px solid #30AB6C;
  background-color: #F6FEFA;
}

.m-text--error {
  border: 1px solid #F27649;
  background-color: #FEF1EC;
}

.m-text__icon--success {
  position: relative;
  right: 25px;
  color: #30AB6C;
}

.m-text__icon--error {
  position: relative;
  right: 25px;
  color: #F27649;
}

/*
            Normal radioBtn 
            <label class="m-radio is-shown">
                <input type="radio" class="m-radio__input">
                <span class="m-radio__clickBtn"></span>Checked
            </label> <br>  <br>
    
            Disabled RadioBtn
            <label class="m-radio m-radio--disabled is-hidden" > 
                <input type="radio" class="m-radio__input" >
                <span class="m-radio__clickBtn"></span>Disabled
            </label>
*/
.m-radio {
  position: relative;
  padding-left: 15px;
  cursor: pointer;
}

.m-radio:hover .m-radio__input ~ .m-radio__clickBtn {
  -webkit-box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
          box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.12), inset 0px 0px 4px rgba(172, 186, 200, 0.45);
}

.m-radio .m-radio__input:checked ~ .m-radio__clickBtn {
  background-color: #48E092;
}

.m-radio .m-radio__input:checked ~ .m-radio__clickBtn::after {
  display: block;
}

.m-radio--disabled .m-radio__input:checked ~ .m-radio__clickBtn {
  background-color: #7be7af;
}

.m-radio--disabled {
  color: #979FA6;
}

.m-radio__input {
  opacity: 0;
}

.m-radio .m-radio__clickBtn::after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: var(--radio-border);
  background: white;
}

.m-radio__clickBtn {
  background-color: #F0F3F7;
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: var(--radio-border);
  -webkit-box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
          box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}

.m-radio__clickBtn::after {
  content: "";
  position: absolute;
  display: none;
}

:root {
  --heading-font-family: 'Trueno', sans-serif;
  --body-font-family: 'Sofia Pro', sans-serif;
  --heading-txt: "#181E23";
  --body-txt: #525E68;
  --general-padding: 20px;
  --general-margin: 3%;
  --radio-border:50%;
}
