.helpText
{
  color: #84919D;
}
.myform{
    margin: 20px;
    border: 2px solid black;
    padding: 26px;
    width: 40%;
    border-radius: 26px;
}
.myform__heading{
    color: #113133;
}

.text__input{
    color:#181E23;
    font-family: paraFont;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    border: 2px solid #D1D8E0;
    border-radius: 4px;
    margin-bottom: 10px;
}

.checkbox__check-container {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700px;
  }
  .checkbox__check-container input{
      opacity: 0;
      position: absolute;
  }
  .checkbox__checkmark{
      background-color:#F0F3F7;
      position: absolute;
      left: 5px;
      width: 24px;
      height: 24px;
      border-radius: 4px;
      box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
  }

  .checkbox__check-container_disabled .checkbox__checkmark{
    box-shadow: inset 0px 0.5px 0px 0.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}


  .messages{
    padding: 20px;
}
.accordian{
    background-color: #fff;
    border: 1px solid #30C478;
    border-radius: 12px;
    padding: 0px 12px 0px 12px;
    color: #30AB6C;
    font-size: 16px;
}


  
  .radio__radio-container{
    position: relative;
    padding-left: 15px;
    cursor: pointer;
}
.radio__radio-container input{
    opacity: 0;
}
.radio__click{
    background-color:#F0F3F7;
    position: absolute;
    left: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    box-shadow: inset 0px 1.5px 2px 1.5px rgba(0, 0, 0, 0.12), inset 0px 4px 8px -2px rgba(172, 186, 200, 0.45), inset 0px 13px 10px 2px rgba(234, 239, 242, 0.2);
}




.messages__warning{
    width: 352px;
    height: 44px;
    border-radius: 6px;
    background: linear-gradient(180deg, #FAF7D1 0%, #F5F1BC 100%);
    box-shadow: 0px 4px 8px -2px rgba(214, 207, 118, 0.35), 0px 8px 10px rgba(245, 241, 189, 0.35), inset 0px -2px 0px -1px rgba(214, 207, 118, 0.75);
    border-radius: 6px;
    font-size: 16px;
}
.messages__error{
    width: 347px;
    height: 44px;
    border-radius: 6px;
    background: linear-gradient(180deg, #F9D2D2 0%, #F4BDBD 100%);
    box-shadow: 0px 4px 8px -2px rgba(230, 152, 152, 0.5), 0px 8px 10px 2px rgba(244, 190, 190, 0.5), inset 0px -2px 0px -1px rgba(230, 152, 152, 0.75);
    border-radius: 6px;
    font-size: 16px;
}
.messages__info{
    width: 298px;
    height: 44px;
    border-radius: 6px;
    padding: 25px 16px 10px 16px;
    background: linear-gradient(180deg, #CFEFFC 0%, #BAE6F8 100%);
    box-shadow: 0px 4px 8px -2px rgba(106, 190, 226, 0.5), 0px 8px 10px 2px rgba(186, 230, 248, 0.5), inset 0px -2px 0px -1px rgba(145, 210, 237, 0.75);
    font-size: 16px;
    color: #0F678A;
}
.messages__success{
    width: 385px;
    height: 44px;
    border-radius: 6px;
    background: linear-gradient(180deg, #D6FBD0 0%, #C2F7BA 100%);
    box-shadow: 0px 4px 8px -2px rgba(143, 227, 130, 0.5), 0px 8px 10px 2px rgba(195, 247, 187, 0.5), inset 0px -2px 0px -1px rgba(143, 227, 130, 0.85);
    border-radius: 6px;
    font-size: 16px;
}